.beian-block {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.beian-block .beian-link {
    text-decoration: none;
    color: darkgray;
    margin: 0 5px;
}
